@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > * {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

section[role='dialog'] > header.rws-header {
  color: black;
}

section[role='dialog'] > div.rws-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section[role='dialog'] > div.rws-icons > button {
  height: 70px;
  width: 70px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

section[role='dialog'] > div.rws-icons > button:hover {
  opacity: 1;
}

section[role='dialog'] > button.rws-close {
  background: #f97316;
  transition: background 0.3s ease-in-out;
}

section[role='dialog'] > button.rws-close:hover {
  background: #ea580c;
}
